<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'calc_app/right.css' %}">
    <title>Барьер</title>
</head>
<body>
    <header></header>
    <main class="main-content">
        <h2>Автоматизированный подбор оборудования</h2>
        <ul class = "input-water-data">
            <li>
                <section class="house-input-cards">
                    <ul class="panels-controllers">
                        <li><a href="#close">закрыть</a></li>
                        <li><a href="#num_base_house">есть анализ</a></li>
                        <li><a href="#bool_base_house">нет анализа</a></li>
                    </ul>

                    <form action="{%url 'calc_app:calc_page' %}" id="num_base_house">
                        <p class="form-title">Коттедж, есть анализ</p>
                        {% csrf_token %}
                        <table>
                            <tr><td>{{house_form.action}}</td></tr>
                            {% for form_filed in house_form %}
                            {% if form_filed != house_form.action %}
                                <tr><td>{{ form_filed.label }}</td></tr>
                                <tr><td>{{ form_filed }}</td></tr>
                            {% endif %}
                            {% endfor %}
                    </table>
                    <input type="submit">
                    </form>
                    <form action="{%url 'calc_app:calc_page' %}" id="bool_base_house">
                        <p class="form-title">Коттедж, нет анализа</p>
                        {% csrf_token %}
                        <table>
                            <tr><td>{{ bool_house_form.action }}</td></tr>
                            {% for form_filed in bool_base_house %}
                            {% if form_field != bool_base_house.action %}
                            <tr><td>{{ form_field.label }}</td></tr>
                            <tr><td>{{ form_field }}</td></tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                        <input type="submit">
                    </form>
                </section>
            </li>
            <li>
                <section class="flat-input-cards">
                    <ul class="panels-controllers">
                        <li><a href="#close">закрыть</a></li>
                        <li><a href="#num_flat_house">есть анализ</a></li>
                        <li><a href="#bool_flat_house">нет анализа</a></li>
                    </ul>
                    <form action="{%url 'calc_app:calc_page' %}" id="num_flat_house">
                        <p class="form-title">Квартира, есть анализ</p>
                        {% csrf_token %}
                        <table>
                            <td>{{flat_form.action}}</td>
                                </tr>
                                {% for form_field in flat_form %}
                                {% if form_field != flat_form.action %}
                                <tr><td>{{ form_field.label }}</td></tr>
                                <tr><td>{{ form_field }}</td></tr>
                                {% endif %}
                                {% endfor %}
                        </table>
                        <input type="submit">
                    </form>
                    <form action="{%url 'calc_app:calc_page' %}" id="bool_flat_house">
                        <p class="form-title">КвартираБ нет анализа</p>
                        {% csrf_token %}
                        <table>
                            <tr><td>{{bool_flat_form.action}}</td></tr>
                            {% for form_field in bool_flat_form %}
                            {% if form_field != bool_flat_form.action %}
                            <tr><td>{{ form_filed.label }}</td></tr>
                            <tr><td>{{ form_field }}</td></tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                        <input type="submit">
                    </form>
                </section>
            </li>
            <li>
                <section class="country-input-cards">
                    <ul class = "panels-controllers">
                        <li><a href="#close">закрыть</a></li>
                        <li><a href="#num_country_house">есть анализ</a></li>
                        <li><a href="#bool_country_house">нет анализа</a></li>
                    </ul>                        
                    <form action="{%url 'calc_app:calc_page' %}" id="num_country_house">
                        <p class="form-title">Дача, есть анализ</p>
                        {% csrf_token %}
                        <table>
                            <tr><td>{{country_form.action}}</td></tr>
                                {% for form_field in country_form %}
                                {% if form_field != country_form.action %}
                                <tr><td>{{ form_field.label }}</td></tr>
                                <tr><td>{{ form_field }}</td></tr>
                                {% endif %}
                                {% endfor %}
                        </table>
                        <input type="submit">
                    </form>
                    <form action="{%url 'calc_app:calc_page' %}" id="bool_country_house">
                        <p class="form-title">Дача, нет анализа</p>
                        {% csrf_token %}
                        <table>
                        <tr><td>{{ bool_country_form.action }}</td></tr>
                        {% for form_field in bool_country_form %}
                        {% if form_field != bool_country_form.action %}
                        <tr><td>{{ forn_field.label }}</td></tr>
                        <tr><td>{{ form_field }}</td></tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                        <input type="submit">
                    </form>
                </section>
            </li>
        </ul>
        
        <section class="excel-input">
            <form action="{%url 'calc_app:calc_page' %}">
                <p class="form-title">обновление цен</p>
                {% csrf_token %}
                <p>
                    {{ excel_form.action }}
                </p>
                <p>
                    {{ excel_form.input_excel }}
                </p>
                <input type="submit">
            </form>
        </section>
        <section class = "output">
        </section>
    </main>
    <footer></footer>
</body>
</html>