<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'calc_app/right.css' %}">
    <title>Барьер</title>
</head>
<body>
    <header></header>
    <main class="main-content">
        <h2>Автоматизированный подбор оборудования</h2>
            <form action="{%url 'calc_app:retrived_complect' %}" id="num_base_house" method="get" >
                <!-- {% csrf_token %} -->
                {{search_form.form_name}}
                <p>{{search_form.water_consumption.label}} {{search_form.water_consumption}}</p>
                <p>{{search_form.people_number.label}} {{search_form.people_number}}</p>
                <p>{{search_form.condensation_protection.label}} {{search_form.condensation_protection}}</p>
                <p>{{search_form.builder_type.label}} {{search_form.builder_type}}</p>
                <p>{{search_form.hardness.label}} {{search_form.hardness}}</p>
                <p>{{search_form.ferum.label}} {{search_form.ferum}}</p>
                <p>{{search_form.po.label}} {{search_form.po}}</p>
                <p>{{search_form.hydrogen_sulfite.label}} {{search_form.hydrogen_sulfite}}</p>
                <p>{{search_form.ammonium.label}} {{search_form.ammonium}}</p>
                <p>{{search_form.manganese.label}} {{search_form.manganese}}</p>
                <input type="submit" value="найти" name="" id="">
            </form>
            {% if edit_form %}
            <form action="{%url 'calc_app:get_contract' %}" method="post">    
                {% csrf_token %}
                <p>{{edit_form.complect.label}} {{edit_form.complect}}</p>
                <p>{{edit_form.water_consumption_level_id}}</p>
                <p>{{edit_form.full_water_parametrs_id}}</p>
                {% for equipment_row in edit_form.equipments_fields %}
                    <p>{{ equipment_row.name_form }} {{equipment_row.price_form}} {{equipment_row.row_id}}</p>
                {% endfor %}
                <p>рекомендуются следующие работы: </p>
                {% for montage_work in edit_form.montage_works_fields %}
                <p>{{montage_work.name_form}} {{montage_work.price_form}} {{montage_work.row_id}}</p>
                {% endfor %}
                <p>{{edit_form.filler}} {{edit_form.filler_price}}</p>
                <div>
                    <p>{{edit_form.client_first_name.label}} {{edit_form.client_first_name}}</p>
                    <p>{{edit_form.client_last_name.label}} {{edit_form.client_last_name}}</p>
                    <p>{{edit_form.client_phone_number.label}} {{edit_form.client_phone_number}}</p>
                </div>
                <div>
                   <p>{{edit_form.builder_type.label}} {{edit_form.builder_type}}</p>
                   <p>{{edit_form.montage_place.label}} {{edit_form.montage_place}}</p>
                   <p>{{edit_form.main_water_source.label}} {{edit_form.main_water_source}}</p>
                   <p>{{ edit_form.sewerage_type.label }} {{edit_form.sewerage_type}}</p>
                </div>
                <input type="submit" value="загрузить договор">
            </form>
            {% endif %}
    </main>
    <footer></footer>
</body>
</html>